.fill { opacity: 1.00; fill: #FILL; }
.fillMedium { opacity: 1.00; fill: #FILLMEDIUM; }
.fillPale { opacity: 1.00; fill: #FILLPALE; }
.blue { opacity: 1.00; fill: #1473E6; }
.green { opacity: 1.00; fill: #0F8A0F; }
.red { opacity: 1.00; fill: #F53C3C; }
.yellow { opacity: 1.00; fill: #F4C500; }
.background { opacity: 0.65; fill: #FFFFFF; }