<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Xxx Xxx 00 0000 00:00:00</string>
	<key>BuildVersion</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>AdobeSVGRE</string>
	<key>CFBundleGetInfoString</key>
	<string>AdobeSVGRE 6.0, © 1998-2013 Adobe Systems Incorporated</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.SVGRE</string>
	<key>CFBundleName</key>
	<string>AdobeSVGRE</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>AdobeSVGRE 6.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6.0</string>
	<key>Configuration</key>
	<string>SVGRE_CONFIG</string>
</dict>
</plist>
