<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>2016/09/08-01:11:24</string>
	<key>BuildID</key>
	<string>37131</string>
	<key>BuildVersion</key>
	<string>79.577118</string>
	<key>CFBundleExecutable</key>
	<string>AdobePDFPort</string>
	<key>CFBundleGetInfoString</key>
	<string>AdobePDFPort 2.1.0.37131, Copyright © 1995-2009 Adobe Systems Incorporated.</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.PDFPort</string>
	<key>CFBundleName</key>
	<string>AdobePDFPort</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>AdobePDFPort 2.1.0.37131</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.1.0.37131</string>
	<key>Configuration</key>
	<string>PDFPort Release HFT for PDFL</string>
</dict>
</plist>
