<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adobe Product Build</key>
	<string>326</string>
	<key>Adobe Product Version</key>
	<string>21.1.0</string>
	<key>AdobeBuildNumber</key>
	<string>326</string>
	<key>AdobeCrashReporterEmail</key>
	<string>illustrator@crlog.adobe.com</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Adobe Illustrator</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ai_cc_appicon.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>APPL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ai</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_ai_primary.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_eps.icns</string>
			<key>CFBundleTypeName</key>
			<string>EPS File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EPSF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_eps.pc.icns</string>
			<key>CFBundleTypeName</key>
			<string>PC EPS File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EPSP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_text.icns</string>
			<key>CFBundleTypeName</key>
			<string>Text File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_ps.icns</string>
			<key>CFBundleTypeName</key>
			<string>Postscript File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ai_prefs.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Preferences</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ARTX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ait</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_cc_ai_pad.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AITm</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_plug-in.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Plug-In</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ARTF</string>
				<string>ARTf</string>
				<string>ARPI</string>
				<string>8BXM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ps_plug-in.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Plug-In</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BFM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>HYP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_hyphen.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Hyphenation Dictionary</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>HYPH</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aia</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_actions.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Action</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ARTA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sbx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_tsume.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Tsume File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TuMe</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_doc_generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>PDF File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dwg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_dwg.icns</string>
			<key>CFBundleTypeName</key>
			<string>AutoCAD Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DWG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dxf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_dxf.icns</string>
			<key>CFBundleTypeName</key>
			<string>AutoCAD Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DXF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_bmp.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Bitmap Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP </string>
				<string>BMPf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cgm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_cgm.icns</string>
			<key>CFBundleTypeName</key>
			<string>Computer Graphics Metafile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CGM </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>emf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_emf.icns</string>
			<key>CFBundleTypeName</key>
			<string>Enhanced Metafile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EMF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>swf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_swf.icns</string>
			<key>CFBundleTypeName</key>
			<string>Flash Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SWFL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_jpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pct</string>
				<string>pict</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_pict.icns</string>
			<key>CFBundleTypeName</key>
			<string>PICT Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pcx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_pcx.icns</string>
			<key>CFBundleTypeName</key>
			<string>PCX Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PCX </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_photo.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_pixar.icns</string>
			<key>CFBundleTypeName</key>
			<string>Pixar Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PXR </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_svg.icns</string>
			<key>CFBundleTypeName</key>
			<string>SVG Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SVG </string>
				<string>svg </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svgz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_svgz.icns</string>
			<key>CFBundleTypeName</key>
			<string>Compressed SVG Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SVGZ</string>
				<string>svgz</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_targa.icns</string>
			<key>CFBundleTypeName</key>
			<string>Targa Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_tiff.icns</string>
			<key>CFBundleTypeName</key>
			<string>TIFF Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_wmf.icns</string>
			<key>CFBundleTypeName</key>
			<string>WMF Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WMF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_png.icns</string>
			<key>CFBundleTypeName</key>
			<string>PNG Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_gif.icns</string>
			<key>CFBundleTypeName</key>
			<string>GIF Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>act</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_color.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Color Table</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BCT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>irs</string>
				<string>iros</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_prefs.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Save For Web Settings</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IrOS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdfs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_pdf presets.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Print Presets</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>CLX</string>
				<string>LEX</string>
				<string>ENV</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_dictionary.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Dictionary</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fmod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_flattener presets.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Flattening Module</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_xml.icns</string>
			<key>CFBundleTypeName</key>
			<string>XML File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fxg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_fxg.icns</string>
			<key>CFBundleTypeName</key>
			<string>FXG File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kys</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_keyboard setting.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Keyboard Shortcuts</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Akys</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ai_filter.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Filter</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Smrd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdr</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CDR5</string>
				<string>CDR6</string>
				<string>CDR7</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>doc</string>
				<string>docx</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>W8BN</string>
				<string>WDBN</string>
				<string>W7BN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fh3</string>
				<string>fh4</string>
				<string>fh5</string>
				<string>fh7</string>
				<string>fh8</string>
				<string>ft8</string>
				<string>fh9</string>
				<string>fh10</string>
				<string>fh11</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FHD3</string>
				<string>AGD1</string>
				<string>AGD2</string>
				<string>AGD3</string>
				<string>AGD4</string>
				<string>AGD5</string>
				<string>AGD6</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpf</string>
				<string>jpx</string>
				<string>jp2</string>
				<string>j2k</string>
				<string>j2c</string>
				<string>jpc</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JP2 </string>
				<string>JPX </string>
				<string>jp2 </string>
				<string>JPF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>joboptions</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Adobe PDF Settings file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ase</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_ase.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Swatch Exchange file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ASE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai_csf.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Color Settings File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AsCs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>acb</string>
				<string>acbl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ps_colors.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Color Book File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>idea</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ideas.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Ideas Format</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>idea</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Adobe Illustrator</string>
	<key>CFBundleGetInfoString</key>
	<string>21.1.0, Copyright © 1987-2017 Adobe Systems Inc.  All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>ai_cc_appicon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.illustrator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Illustrator CC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>21.1.0</string>
	<key>CFBundleSignature</key>
	<string>ART5</string>
	<key>CFBundleVersion</key>
	<string>21.1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.6</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>ExoMacApplication</string>
	<key>UIDisallowUserKeyboardShortcuts</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator CEPP Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.cep.dnd.pasteboardtype</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>cepp</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>cepp</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator AICB Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.aicb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AICB</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>aicb</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe ATE2 Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.ate2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ATE2</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>ate2</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator ASet Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.aset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ASet</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator AAct Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.aact</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AAct</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator AEvt Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.aevt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AEvt</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator ArNl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.ArNl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ArNl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator PGFl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.PGFl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PGFl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Patl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Patl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Patl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Clrl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Clrl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Clrl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Nonl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Nonl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Nonl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Grdl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Grdl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Grdl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Brhl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Brhl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Brhl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Swtl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Swtl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Swtl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator SwGl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.SwGl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SwGl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Anml Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Anml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Anml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator SEfl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.SEfl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SEfl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator SNal Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.SNal</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SNal</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator SyMl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.SyMl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SyMl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator VaRl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.VaRl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>VaRl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator PStl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.PStl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PStl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator CStl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.CStl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CStl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Version Cue Asset List Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.avcl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AVcL</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Custom Toolbar Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.aict</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AICT</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator CEPP Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.cep.dnd.pasteboardtype</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>cepp</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>cepp</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator None Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.none</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>NONE</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator AICB Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.aicb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AICB</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>aicb</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator EPSF Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.epsf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>EPSF</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>epsf</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator TEXT Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>TEXT</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>text</string>
				<string>txt</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Apple PICT Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.pict</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PICT</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>PICT</string>
				<string>pic</string>
				<string>pct</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MS Windows ENMF Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.enmf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ENMF</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>enmf</string>
				<string>emf</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MS Windows BMP Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.bmp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>BMP </string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>bmp</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HDRP Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.hdrp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>HDRP</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>hdrp</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MS Windows Device Independent Bitmp Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.dib</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DIB </string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>dib</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe PDF Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PDF </string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>pdf</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe SVG Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.svg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SVG </string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>svg</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>UTXT Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.utxt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>UTXT</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>utxt</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe STxt Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.stxt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>STxt</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>stxt</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe ATE2 Clipboard Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.ate2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ATE2</string>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>ate2</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator ASet Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.aset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ASet</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator AAct Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.aact</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AAct</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator AEvt Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.aevt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AEvt</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator ArNl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.ArNl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ArNl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator PGFl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.PGFl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PGFl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Patl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Patl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Patl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Clrl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Clrl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Clrl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Nonl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Nonl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Nonl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Grdl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Grdl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Grdl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Brhl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Brhl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Brhl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Swtl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Swtl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Swtl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator SwGl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.SwGl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SwGl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Anml Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.Anml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Anml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator SEfl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.SEfl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SEfl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator SNal Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.SNal</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SNal</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator SyMl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.SyMl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SyMl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator VaRl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.VaRl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>VaRl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator PStl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.PStl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PStl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator CStl Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.CStl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CStl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Mac HFS Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.hfs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>hfs </string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Mac PHFS Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.phfs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>phfs</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Adobe Version Cue Asset List Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.avcl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AVcL</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
