<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Thu Jul 22 2016 04:50:10</string>
	<key>CFBundleExecutable</key>
	<string>WRServices</string>
	<key>CFBundleGetInfoString</key>
	<string>WRServices 12.2.0, Copyright (c) 1993 - 2012 Winsoft SA., Copyright (c) 2007 Adobe Systems, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.winsoft.wrservices</string>
	<key>CFBundleName</key>
	<string>WRServices</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>WRServices 12.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>12.2.0</string>
	<key>Configuration</key>
	<string>FullRelease</string>
	<key>FileVersion</key>
	<string>12.2.0.1000</string>
	<key>ProductVersion</key>
	<string>0.22248</string>
</dict>
</plist>
