<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>2016/08/12-01:08:59</string>
	<key>BuildId</key>
	<string>36985</string>
	<key>BuildType</key>
	<string>Release</string>
	<key>BuildVersion</key>
	<string>79.264069</string>
	<key>CFBundleExecutable</key>
	<string>Reader for DOCX</string>
	<key>CFBundleGetInfoString</key>
	<string>Reader for DOCX 5.65.0.36985, © 2000-2009 Adobe Systems Incorporated. All Rights Reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.Reader for DOCX</string>
	<key>CFBundleName</key>
	<string>Reader for DOCX</string>
	<key>CFBundlePackageType</key>
	<string>Smrd</string>
	<key>CFBundleShortVersionString</key>
	<string>Reader for DOCX 5.65.0.36985</string>
	<key>CFBundleSignature</key>
	<string>Adbe</string>
	<key>CFBundleVersion</key>
	<string>5.65.0.36985</string>
	<key>Configuration</key>
	<string>Reader for DOCX</string>
</dict>
</plist>
