@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family: 'AdobeClean-Regular';
    src: url('AdobeClean-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AdobeClean-Bold';
    src: url('AdobeClean-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
html {
	font-size: 100%;
	height: 100%;
} 
body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #4b4b4b;
	font-family: 'AdobeClean-Regular', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, p, ul, ol, li, div {
	padding: 0;
	margin: 0;
	font-weight: normal;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* Containers */

.wrapper {
	background-color: white;
	width: 136vh;
	height: 100%;
	margin: 0 auto;
}
.hero {
	height: 55vh;
	background-color: #F2F3F3;
}
.content {
	box-sizing: border-box;
	padding: 0 50px 0px 50px;
}


/* Copy */

.copy {
}
.copy h2, .copy p {
	text-align: center;
}
.copy h2 {
	color: #356EB6;
	font-size: 3.5vh;
	margin: 7vh 0 1.5vh 0;
	box-sizing: border-box;
	font-family: 'AdobeClean-Bold', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.copy p {
	font-size: 3vh;
	width: 90vh;
	height: 20vh;
	margin: 0 auto;
	color: #757575;
}


/* Footer */

.footer {
	margin: 0 auto;
	height: 50px;
	position: relative;
}
.nav {
	position: absolute;
	top: 0;
}
.nav a {
	background-color: #9A9A9A;
	height: 5.5vh;
	width: 5.6vh;
	border-radius: 50px;
	display: inline-flex;
	align-items: center;
}
.nav .ghosted {
	opacity: 0.3;
}
.nav .ghosted:hover {
	cursor: default;
}
.nav a:hover:not(.ghosted) {
	opacity: 0.8;
}
.nav a:nth-child(1) {
	margin-right: 10px;
}
.nav img {
	width: 1.8vh;
	position: relative;
}
.nav .arrowLeft img {
	left: 1.7vh;
}
.nav .arrowRight img {
	left: 2.1vh;
}
.bullets {
	width: 100%;
	text-align: center;
	height: 5.5vh;
	padding-top: 1.5vh;
	box-sizing: border-box;
}
.bullets a {
	background-color: #BEBEBE;
	border-radius: 50px;
	width: 1.5vh;
	height: 1.5vh;
	display: inline-block;
	margin: 0 0.8vh;
}
.bullets .current {
	background-color: #356EB6;
}
.bullets .current:hover {
	cursor: default;
}
.bullets a:hover:not(.current) {
	background-color: #9cc0ed;
}
.close {
	background-color: #356EB6;
	border-radius: 50px;
	width: 20vh;
	height: 5.5vh;
	text-align: center;
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 3vh;
	box-sizing: border-box;
	padding-top: 1.2vh;
	position: absolute;
	right: 0;
	top: 0;
}
.close:hover {
	opacity: 0.8;
}