<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>2016/05/26-01:08:58</string>
	<key>BuildID</key>
	<string>36529</string>
	<key>BuildType</key>
	<string>RELEASE</string>
	<key>BuildVersion</key>
	<string>79.262945</string>
	<key>CFBundleExecutable</key>
	<string>AdobeJP2K</string>
	<key>CFBundleGetInfoString</key>
	<string>AdobeJP2K 1.2.2.36529, © 2009 Adobe Systems Incorporated.
 All Rights Reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.JP2K</string>
	<key>CFBundleName</key>
	<string>AdobeJP2K</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.2.36529</string>
	<key>JP2K_IPID</key>
	<string>&lt;AdobeIP#0000435&gt;</string>
</dict>
</plist>
